.finish-test {
  margin: 5em auto;

  &__alert {
    padding: 2rem;
    text-align: center;
  }

  &__heading {
    margin-top: 0;
  }

  &__button-position {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
  }

  &__paragraph {
    padding: 2em;
    font-size: 1.5em;
    text-align: center;
  }
}

.warn {
  color: var(--error);
}

.count-down {
  text-align: center;
}
