@import 'src/theme/variables.scss';

.finish-test {
  margin: 5em auto;

  &__alert {
    text-align: center;
  }

  &__heading {
    margin-top: 0;
  }

  &__button-position {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5em;
    margin-bottom: 5em;
  }

  &__paragraph {
    padding: 2em;
    font-size: 1.5em;
    line-height: 1.7;
    text-align: center;
  }

  &__button {
    display: block;
    width: 120px;
    height: 90px;
    color: white;
    font-size: 1.3em;
    background-color: #3f51b5;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
      0px 1px 5px 0px rgb(0 0 0 / 12%);
    cursor: pointer;

    &-close {
      color: #000000;
      background-color: whitesmoke;
    }
  }

  &:focus {
    background-color: lightgrey;
  }
}

.warn {
  color: $error;
}
