<h1 class="finish-test__heading" mat-dialog-title>
  <p *ngIf="!isFinished">The time is out.</p>
  By completing the Test all answered data will be sent to review.
</h1>
<div class="finish-test__button-position" mat-dialog-content>
  <button mat-raised-button class="finish-test__button" (click)="onFinishTestClick()">
    Complete
  </button>
  <button
    mat-raised-button
    class="finish-test__button finish-test__button-close"
    (click)="closeClick()"
    *ngIf="isFinished"
  >
    Close
  </button>
</div>
