<div class="container">
  <h1>{{ data.isEdit ? 'Edit Grammar' : 'Add Grammar' }}</h1>
  <mat-form-field appearance="fill">
    <mat-label>Grammar Question</mat-label>
    <textarea matInput>{{ data.isEdit ? 'Grammar Question ' + data.id : '' }}</textarea>
  </mat-form-field>
  <h3>Select level</h3>
  <app-choose-level [currentLevel]="data.level"></app-choose-level>
  <mat-radio-group class="radio-group">
    <div *ngFor="let answer of grammar.answers; let i = index">
      <mat-radio-button [checked]="answer.isRight" [value]="QuestionList[i]" class="radio-button">{{
        QuestionList[i]
      }}</mat-radio-button>
      <span>
        <mat-form-field><input matInput [value]="answer.title" /></mat-form-field>
      </span>
    </div>
  </mat-radio-group>
  <button mat-raised-button color="primary">{{ data.isEdit ? 'UPDATE' : 'SAVE' }}</button>
</div>
