button.mat-raised-button {
  position: relative;
  left: 50%;
  margin-bottom: 40px;
  transform: translate(-50%, 0);
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

.container {
  min-width: 500px;
  max-height: 500px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

h1,
h3 {
  text-align: center;
}

.close-button {
  position: relative;
  float: right;
  margin-bottom: 30px;
}

.description {
  $error: darkred;
}
