<div class="container">
  <h1>{{ data.isEdit ? 'Edit Grammar' : 'Add Grammar' }}</h1>
  <mat-form-field appearance="fill">
    <mat-label>Grammar Question</mat-label>
    <textarea matInput [(ngModel)]="nameQuestion">{{ nameQuestion }}</textarea>
  </mat-form-field>
  <h3>Select level</h3>
  <app-choose-level
    (changeLevel)="levelChangeHandler($event)"
    [currentLevel]="languageLevel[data.level.toString()]"
  ></app-choose-level>
  <mat-radio-group class="radio-group">
    <div *ngFor="let answer of answerOption; let i = index">
      <mat-radio-button
        [value]="QuestionList[i]"
        [checked]="answer.isRight"
        (change)="radioChangeHandler(i)"
        class="radio-button"
      >
        {{ QuestionList[i] }}
      </mat-radio-button>
      <span>
        <mat-form-field><input matInput [(ngModel)]="answer.nameAnswer" /></mat-form-field>
      </span>
    </div>
  </mat-radio-group>
  <button mat-raised-button color="primary" (click)="updateData()">
    {{ data.isEdit ? 'UPDATE' : 'SAVE' }}
  </button>
</div>
