@import '../../../theme/variables';

.mat-elevation-z8 {
  margin: 5% 100px;
}

.mat-card {
  margin-top: 10px;
}

button {
  margin: 10px 30px;
}

button:hover {
  background-color: $secondary-grey2;
}
