@import 'src/theme/variables.scss';

.container {
  margin: 10% auto 5%;
  padding-left: 30px;

  span {
    font-style: italic;
  }
}

mat-form-field {
  width: 70%;
  border-radius: $border-radius-medium;

  textarea {
    height: 100px;
  }
}

.error {
  color: $error;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;

  .send {
    margin-right: 20px;
  }
}

.button-submit {
  display: block;
  margin: 0 auto;
}
