.user-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.user-pic {
  width: 6rem;
  height: 6rem;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.submit-btn {
  line-height: 4rem;
  width: 12rem;
}

.table-header {
  text-align: center;
  margin: 1rem;
  font-weight: 600;
  text-decoration: underline;
}

table {
  width: 100%;

  & td {
    white-space: nowrap;

    &:last-child {
      max-width: 4rem;
      text-align: end;
    }
  }
}

.scale {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #3366cc 0%, #333399 100%);
  border-radius: 0.25rem;

  & .result {
    padding: 0.5rem;
    color: white;
  }
}