@import '../../../../../theme/variables';

h1,
h2 {
  text-align: center;
}

span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  width: 600px;
  max-height: 550px;
  padding: 5px;
  overflow: auto;
}

.dialog-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
