<mat-stepper class="stepper" labelPosition="bottom">
  <mat-step
    class="step"
    [stepControl]="stepperFormGroups![ind]"
    *ngFor="let question of questionList; let ind = index; let first = first; let last = last"
    errorMessage="Not Answered"
  >
    <form class="form__color" [formGroup]="stepperFormGroups![ind]">
      <p class="text__center">{{ question.nameQuestion }}</p>

      <mat-radio-group
        id="answer-label-group"
        class="mat-radio-group"
        formControlName="stepCtrl"
        (ngModelChange)="onAnswersSubmit()"
      >
        <mat-radio-button
          class="answer-radio-button"
          *ngFor="let answerCase of question.answers"
          [value]="answerCase"
        >
          {{ answerCase.nameAnswer }}
        </mat-radio-button>
      </mat-radio-group>

      <div>
        <button class="button__color" mat-button matStepperPrevious [disabled]="first">Back</button>
        <button class="button__color" mat-button matStepperNext [disabled]="last">Next</button>
      </div>
    </form>
    <div class="report">
      <mat-icon>warning_amber</mat-icon>
      <span class="report__text" (click)="openReportDialog(question.id, question.auditionId)"
        >Report a Mistake</span
      >
    </div>
  </mat-step>
</mat-stepper>
