@import 'src/theme/variables';

.mat-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.stepper {
  margin: 2rem;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px 5px rgba(117, 56, 141, 0.2);
}

.answer-radio-button {
  display: block;
  margin: 1rem 0.5rem;
}

.button__color {
  margin-right: 5px;
}

.form__color {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__center {
  font-size: 18px;
}

.mat-icon {
  width: 12px;
  height: 12px;
  font-size: 12px;
}

.report {
  text-align: end;
}

.report__text {
  display: inline-block;
  margin-left: 0.5rem;
}

.report__text:hover {
  color: $secondary-grey2;
  text-decoration: underline;
  cursor: pointer;
}

.mat-icon {
  font-size: 1rem;
  vertical-align: text-top;
}
