@import 'src/theme/variables';

.mat-radio-group {
  margin-top: 16px;
}

.stepper {
  width: 90%;
  margin: 10% auto;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px 5px rgba(117, 56, 141, 0.2);
}

.answer-radio-button {
  display: block;
  margin: 1rem auto;
}

.button__color {
  margin-right: 5px;
}

.form__color {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__center {
  font-size: 18px;
}
