<mat-stepper class="stepper" labelPosition="bottom">
  <mat-step
    class="step"
    [stepControl]="stepperFormGroup"
    *ngFor="let step of stepArray; let ind = index; let first = first; let last = last"
    label="Question {{ ind + 1 }}"
    errorMessage="Answer is required."
  >
    <form class="form__color" [formGroup]="stepperFormGroup">
      <p class="text__center">Question 1</p>

      <mat-radio-group id="answer-label-group" class="mat-radio-group" formControlName="options">
        <p>{{ stepperFormGroup.controls.options.value }}</p>
        <!-- just for check -->

        <mat-radio-button
          class="answer-radio-button"
          *ngFor="let answerCase of answerCases"
          [value]="answerCase"
        >
          {{ answerCase }}
        </mat-radio-button>
      </mat-radio-group>

      <div>
        <button class="button__color" mat-button matStepperPrevious *ngIf="!first">Back</button>
        <button class="button__color" mat-button matStepperNext *ngIf="!last">Next</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
