.table-caption {
  margin: 1rem;
  font-weight: 500;
  text-align: center;
}

table {
  width: 100%;

  & td {
    max-width: 4.5rem;
    white-space: nowrap;

    &:last-child {
      text-align: end;
    }
  }
}

.scale {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, #3366cc 0%, #333399 100%);
  border-radius: 0.25rem;

  & span {
    display: inline-block;
    min-height: 1rem;
    padding: 0.5rem 1.5rem;
    color: white;
    text-align: center;
  }
}

.desc {
  display: flex;
  justify-content: space-around;

  span {
    color: black;
    font-size: 0.7rem;
  }
}

th.mat-header-cell:last-child {
  text-align: right;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.element-detail {
  overflow: hidden;
}

.element-diagram {
  display: flex;
  justify-content: flex-end;
  min-width: 2rem;
  margin: 1rem 0;

  .element-description-attribution {
    margin: 0 2rem;
  }
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  display: inline-flex;
  max-width: 50%;
  margin: 0.5rem;
  white-space: normal;
  text-align: justify;
}

.element-description-attribution {
  width: 15rem;
  cursor: pointer;

  &.ellipsed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.element-description-attribution {
  opacity: 0.5;
}
