@import '../../../theme/variables';

.table-caption {
  margin: 1rem;
  font-weight: 500;
  text-align: center;
}

table {
  width: 100%;

  & td {
    max-width: 4.5rem;
    white-space: nowrap;

    &:last-child {
      text-align: end;
    }
  }
}

.scale {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, #5885af 0%, #055c9d 100%);
  border-radius: 0.25rem;

  & span {
    min-width: 4rem;
    padding: 0.5rem 0;
    color: $white;
    font-size: 1.25rem;
    text-align: center;
  }
}

.desc {
  display: flex;
  justify-content: space-around;

  span {
    color: $black;
    font-size: 0.7rem;
  }
}

th.mat-header-cell:last-child {
  text-align: right;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: $others-grey6;
}

tr.element-row:not(.expanded-row):active {
  background: $secondary-grey3;
}

.element-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.element-detail {
  overflow: hidden;
}

.element-diagram {
  display: flex;
  justify-content: flex-end;
  min-width: 2rem;
  margin: 1rem 0;

  .element-description-attribution {
    margin: 0 2rem;
  }
}

.element-description {
  display: inline-flex;
  max-width: 50%;
  margin: 0.5rem;
  white-space: normal;
  text-align: justify;
}

.element-description-attribution {
  width: 100%;
  cursor: pointer;

  &.ellipsed {
    width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.element-description-attribution {
  opacity: 0.5;
}

.header {
  padding: 5px;
}

.header-without-filter {
  padding: 5px;
  vertical-align: bottom;
}

.filter {
  display: block;
}

.mat-form-field {
  margin: 1.5em 0;
}
