@import '../../../theme/variables';

button {
  float: right;
}

button:hover {
  background-color: $secondary-grey2;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  margin: 5% 100px 0;
  background-color: $white;
}

mat-form-field {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;
  font-size: 14px;
}

.no-data {
  margin: 2rem;
  font-weight: 500;
  text-align: center;
}

mat-spinner {
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

app-coach-profile-table {
}
