<div class="profile-container">
  <h3 class="table-caption" i18n>Please choose your level to start a test:</h3>

  <mat-radio-group name="levels" class="radio" [(ngModel)]="selectedLevel">
    <mat-radio-button
      class="radio-btn"
      *ngFor="let level of levels; let ind = index"
      [value]="ind + 1"
      i18n
    >
      {{ levels[ind] }}
    </mat-radio-button>
  </mat-radio-group>

  <button
    *ngIf="!(assignedTests$ | async)?.length"
    [disabled]="!selectedLevel || isStarted"
    mat-raised-button
    color="primary"
    class="start-btn"
    (click)="onStartButtonClick(selectedLevel)"
    i18n
  >
    START TEST
  </button>

  <div *ngIf="(assignedTests$ | async)?.length">
    <h3 class="table-caption warn" i18n>You have a test assigned!</h3>
    <p class="table-caption" i18n>
      Deadline: <span class="warn">{{ deadLine | date: 'medium' }}</span>
    </p>
    <button
      [disabled]="!selectedLevel || isStarted"
      mat-raised-button
      color="primary"
      class="start-btn"
      (click)="onStartAssignedButtonClick(selectedLevel, assignedTest)"
      i18n
    >
      START ASSIGNED TEST
    </button>
  </div>

  <app-user-results-table class="user-results-table" [results]="(results$ | async)!">
  </app-user-results-table>
</div>
