@import 'src/theme/variables';

cdk-virtual-scroll-viewport {
  width: 100%;
}

table {
  width: 100%;
  background-color: $others-grey6;
}

.mat-row {
  height: auto;
}

.mat-header-cell {
  padding: 16px 8px 20px 0;
  color: $secondary-grey2;
  background-color: $secondary-grey3;
}

.mat-cell {
  padding: 8px 0 25px 0;
  color: $secondary-grey2;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #a0b3bd;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #b8c5d2;
}

.example-element-row td {
  border-top: 1px solid $secondary-grey2;
  border-bottom-width: 0;
}

button {
  padding: 5px 16px;
  font-size: 21px;
}

.mat-column-ID {
  width: 32px;
  padding-right: 24px;
  border-right: 1px solid currentColor;
}

.mat-column-Position {
  padding-left: 45px;
}

.mat-column-Level {
  margin: 0;
  padding: 0 0 0 100px;
}

.mat-column-Date {
  padding: 0 0 0 100px;
}

.mat-column-Coach {
  padding: 0 0 0 100px;
}

.data-table {
  width: 80%;
  margin: 20px auto;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}
