<mat-card class="description">Listen audio and answer the questions</mat-card>

<ngx-audio-player
  class="ngx-audio"
  class="audio-player-position"
  [playlist]="msaapPlaylist"
  [displayTitle]="msaapDisplayTitle"
  [autoPlay]="false"
  muted="true"
  [autoPlay]="msaapAutoPlay"
  [displayPlaylist]="msaapDisplayPlayList"
  [pageSizeOptions]="msaapPageSizeOptions"
  [displayArtist]="msaapDisplayArtist"
  [displayDuration]="msaapDisplayDuration"
  [expanded]="true"
  (trackEnded)="onEnded()"
  [displayVolumeControls]="msaapDisplayVolumeControls"
  [displayRepeatControls]="msaapDisplayRepeatControls"
  [disablePositionSlider]="msaapDisablePositionSlider"
>
</ngx-audio-player>
<app-stepper [questionList]="questions" (answerChosen)="onAnswerSelect()"></app-stepper>
