.listening-description {
  margin-bottom: 50px;
  text-align: center;
}

button {
  opacity: 0;
}

.audio-player-position {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

:host ::ng-deep .play-pause-disable {
  display: none;
}

:host ::ng-deep .play-repeat-disable {
  display: none;
}
