<div class="mat-elevation-z8" *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource.results" matSort>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <ng-container matColumnDef="firstName">
      <th class="header" mat-header-cell *matHeaderCellDef>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Filter by First Name</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="filterFirstNameValue"
            (input)="findFirstName(filterFirstNameValue)"
            placeholder="Search FirstName"
          />
        </mat-form-field>
        <div mat-sort-header (click)="onChangeFirstName()">First Name</div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th class="header" mat-header-cell *matHeaderCellDef>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Filter by Last Name</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="filterLastNameValue"
            (input)="findLastName(filterLastNameValue)"
            placeholder="Search LastName"
          />
        </mat-form-field>
        <div mat-sort-header (click)="onChangeLastName()">Last Name</div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="assessment">
      <th class="header" mat-header-cell *matHeaderCellDef>Assign Test</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button (click)="onClick(row.userId)" color="primary">Assign Test</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="info">
      <th class="header" mat-header-cell *matHeaderCellDef>Information</th>
      <td mat-cell *matCellDef="let row">
        <button mat-flat-button (click)="onOpenInfoDialog(row)">View</button>
      </td>
    </ng-container>
  </table>

  <mat-paginator
    [pageIndex]="dataSource.currentPage - 1"
    [length]="dataSource.rowCount"
    [pageSize]="dataSource.pageSize"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    (page)="onPaginateChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
