
.speaking-module-position {
    display: flex;
    justify-content: center;
}
.button-position {
    display: block;
    height: 54px;
}

.text-of-theme {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}