.speaking-module-position {
  display: flex;
  justify-content: center;
}

.button-position {
  display: block;
  height: 54px;
}

.text-of-theme {
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
