.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 22em;
  height: 20em;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 150px;
}

.dialog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  height: 15em;
  box-shadow: none !important;
}
