<mat-tab-group #tabGroup>
  <mat-tab label="GRAMMAR">
    <app-grammar-test></app-grammar-test>
    <button
      mat-raised-button
      color="primary"
      class="button-submit"
      (click)="tabGroup.selectedIndex = 1"
    >
      Submit & Go Next
    </button>
  </mat-tab>
  <mat-tab label="AUDITION">
    <app-listening></app-listening>
    <button
      mat-raised-button
      color="primary"
      class="button-submit"
      (click)="tabGroup.selectedIndex = 2"
    >
      Submit & Go Next
    </button>
  </mat-tab>
  <mat-tab label="ESSAY">
    <app-writing-test></app-writing-test>
    <button
      mat-raised-button
      color="primary"
      class="button-submit"
      (click)="tabGroup.selectedIndex = 3"
    >
      Submit & Go Next
    </button>
  </mat-tab>
  <mat-tab label="SPEAKING">
    <app-speaking></app-speaking>
  </mat-tab>
</mat-tab-group>
