<mat-tab-group mat-stretch-tabs mat-align-tabs="center" [(selectedIndex)]="selectedIndex">
  <app-timer></app-timer>
  <mat-tab label="GRAMMAR">
    <app-grammar-test [questions]="grammar$ | async"></app-grammar-test>
    <app-proceed-buttons
      [currentIndex]="selectedIndex"
      (changedIndex)="setTabIndex($event)"
    ></app-proceed-buttons>
  </mat-tab>

  <mat-tab label="LISTENING">
    <app-listening [questions]="listening$ | async"></app-listening>
    <app-proceed-buttons
      [currentIndex]="selectedIndex"
      (changedIndex)="setTabIndex($event)"
    ></app-proceed-buttons>
  </mat-tab>

  <mat-tab label="WRITING">
    <app-writing-test [essay]="essay$ | async"></app-writing-test>
    <app-proceed-buttons
      [currentIndex]="selectedIndex"
      (changedIndex)="setTabIndex($event)"
    ></app-proceed-buttons>
  </mat-tab>

  <mat-tab label="SPEAKING">
    <app-speaking [speaking]="speaking$ | async"></app-speaking>
    <app-proceed-buttons
      [currentIndex]="selectedIndex"
      (changedIndex)="setTabIndex($event)"
    ></app-proceed-buttons>
  </mat-tab>
</mat-tab-group>
