.button-submit {
  display: block;
  width: 15em;
  height: 8em;
  margin: 0 auto;
  margin-top: 50px;
}

.hidden {
  display: none;
}

.timer {
  position: fixed;
  top: 4rem;
  right: 1rem;
  z-index: 10;
}

.module {
  margin-top: 3rem;
}
