<div class="container">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="testNumber">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Enter Test Number</mat-label>
          <input matInput [formControl]="idFilter" />
        </mat-form-field>
        <div mat-sort-header>Test Number</div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.testNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="Level">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Enter English Level</mat-label>
          <input matInput [formControl]="levelFilter" />
        </mat-form-field>
        <div>English Level</div>
      </th>
      <td mat-cell *matCellDef="let element">{{ languageLevel[element.level] }}</td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Enter Test Date</mat-label>
          <input matInput [formControl]="dateFilter" />
        </mat-form-field>
        <div>Test Date</div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.testPassingDate | date: 'dd.MM.YYYY' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Coach">
      <th mat-header-cell *matHeaderCellDef>
        <div class="blank"></div>
        <div class="coach">Coach</div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ coachName(element.coachId) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Button">
      <th mat-header-cell *matHeaderCellDef>
        <div class="blank"></div>
        <div class="assignButton">Test Assignment</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="openDialog(element, coachData)">
          {{ selectedTab !== 'Assigned' ? 'Reassign' : 'Assign' }}
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="priority"
      [ngClass]="{ high: row.priority === true }"
    ></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
</div>
