@import 'src/theme/variables';

cdk-virtual-scroll-viewport {
  min-height: 95.2vh;
  margin-left: 8vw;
}

table {
  width: 90%;
  background-color: $others-grey6;
}

.mat-header-cell {
  padding: 16px 8px 20px 0;
  color: $secondary-grey2;
  background-color: rgb(200, 200, 200);
}

.mat-cell {
  padding: 8px 0 25px 0;
  color: $secondary-grey2;
}

button {
  padding: 5px 16px;
  font-size: 21px;
}

.mat-column-Position {
  width: 32px;
  padding-right: 24px;
  text-align: center;
  border-right: 1.5px solid currentColor;
}

.mat-column-Level {
  padding-left: 50px;
}

td,
th {
  width: 38.333%;
}

cdk-virtual-scroll-viewport::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

cdk-virtual-scroll-viewport {
  -ms-overflow-style: none;
  -moz-scrollbar-width: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.priority.high {
  background-color: $secondary-grey3;
}
