@import 'src/theme/variables';

cdk-virtual-scroll-viewport {
  min-height: 95.2vh;
  margin-left: 8vw;
}

mat-tab-group {
  justify-self: center;
  max-width: 100%;
  margin: 0 3rem;
}

table {
  width: 90%;
  background-color: $others-grey6;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  -ms-overflow-style: none;
  -moz-scrollbar-width: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.mat-header-cell {
  padding: 16px 8px 20px 0;
  color: $secondary-grey2;
  background-color: rgb(200, 200, 200);
}

.mat-cell {
  padding: 8px 0 25px 0;
  color: $secondary-grey2;
}

button {
  padding: 5px 16px;
  font-size: 21px;
}

::ng-deep .mat-tab-header,
.mat-tab-nav-bar {
  border-bottom: 0;
}

.mat-column-Coach {
  margin: 0 3rem;
}

td,
th {
  width: 30%;
  margin: 0 3rem;
}

cdk-virtual-scroll-viewport::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

cdk-virtual-scroll-viewport {
  -ms-overflow-style: none;
  -moz-scrollbar-width: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.priority.high {
  background-color: $secondary-grey3;
}
