<table mat-table [dataSource]="tableData">
  <ng-container matColumnDef="testNumber">
    <th mat-header-cell *matHeaderCellDef>Test Number</th>
    <td mat-cell *matCellDef="let element">{{ element.testNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="Level">
    <th mat-header-cell *matHeaderCellDef>Level</th>
    <td mat-cell *matCellDef="let element">{{ Level[element.level - 1] }}</td>
  </ng-container>

  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.testPassingDate | date: 'dd.MM.YYYY' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Coach">
    <th mat-header-cell *matHeaderCellDef>Coach</th>
    <td mat-cell *matCellDef="let element">
      {{ coachName(element.coachId) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Button">
    <th mat-header-cell *matHeaderCellDef>Test Assignment</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="openDialog(element, coachData)">
        {{ selectedTab !== 'Assigned' ? 'Reassign' : 'Assign' }}
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="priority"
    [ngClass]="{ high: row.priority === true }"
  ></tr>
</table>
