<cdk-virtual-scroll-viewport itemSize="1" style="height: 80%">
  <table mat-table [dataSource]="tableData" class="mat-elevation-z8 data-table">
    <ng-container matColumnDef="Position">
      <th mat-header-cell *matHeaderCellDef>Test Number</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <ng-container matColumnDef="Level">
      <th mat-header-cell *matHeaderCellDef>Level</th>
      <td mat-cell *matCellDef="let element">{{ element.level }}</td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <ng-container matColumnDef="Coach">
      <th mat-header-cell *matHeaderCellDef>Coach</th>
      <td mat-cell *matCellDef="let element">
        {{ element.coach.name === null ? 'Not Assign' : element.coach.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Button">
      <th mat-header-cell *matHeaderCellDef>Test Assignment</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="openDialog(element)">
          {{ element.isAssign ? 'Reassign' : 'Assign' }}
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displaedColums; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displaedColums"
      class="priority"
      [ngClass]="{ high: row.isHighPriority === true }"
    ></tr>
  </table>
</cdk-virtual-scroll-viewport>
