<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <textarea matInput> Essay {{ data.id }}</textarea>
  </mat-form-field>
  <label
    >Essay score<input
      required
      type="number"
      name="essayScore"
      min="0"
      max="100"
      step="1"
      value="0"
  /></label>
  <p>
    <audio controls></audio
    ><label
      >Listening score
      <input required type="number" name="speakingScore" min="0" max="100" step="1" value="0" />
    </label>
  </p>
  <mat-form-field appearance="fill">
    <mat-label>Your feedback</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
<button mat-raised-button color="primary">SUBMIT</button>
