<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Adding</mat-card-title>
    </mat-card-header>
    <div class="adding">
      <button mat-raised-button color="primary">Add Grammar</button>
      <button mat-raised-button color="primary">Add Audio & Questions</button>
      <button mat-raised-button color="primary">Add Topics</button>
    </div>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Editing</mat-card-title>
    </mat-card-header>
    <div>
      <mat-tab-group
        mat-align-tabs="start"
        (selectedTabChange)="tabChanged($event)"
        backgroundColor="primary"
      >
        <mat-tab *ngFor="let tab of tabs" [label]="tab">
          <app-coach-profile-editor-table
            [table]="tables[tab]"
            [selectTab]="selectedTab"
          ></app-coach-profile-editor-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</div>
