<!-- <select #langSelect
        [(ngModel)]="selectedLang"
        (ngModelChange)="change($event)"
        (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang">
        {{ lang }}
    </option>
</select> -->

<!-- <mat-select #langSelect
            class="btn select"
            [(ngModel)]="selectedLang"
            (ngModelChange)="change($event)"
            (change)="translate.use(langSelect.value)"
            name="lang">
    <mat-option *ngFor="let lang of translate.getLangs()"
                [value]="lang"
                [selected]="lang === translate.currentLang">
        {{lang}}
    </mat-option>
</mat-select> -->
