@import 'src/theme/variables.scss';

table {
  width: 100%;
}

.mat-elevation-z8 {
  margin: 0 30px;
}

button:hover {
  background-color: gray;
}

.mat-form-field {
  width: 100%;
  font-size: 14px;
}

td,
th {
  width: 10%;
}
