@import 'src/theme/variables.scss';

table {
  width: 100%;
}

.mat-elevation-z8 {
  margin: 30px;
}

.mat-flat-button:hover {
  background-color: $light-cyan;
}

.mat-raised-button:hover {
  background-color: gray;
}

.mat-form-field {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;
  font-size: 14px;
}

td,
th {
  width: 10%;
}
