<mat-sidenav-container class="sidebar" autosize>
  <mat-sidenav class="sidebar__container" mode="side" [opened]="isOpen">
    <mat-nav-list>
      <div mat-card-avatar class="sidebar__logo"></div>
      <nav class="sidebar__nav">
        <div class="sidebar__list">
          <mat-list-item  class="sidebar__list_item">
            <span>Home</span>
          </mat-list-item >

          <mat-list-item  class="sidebar__list_item">
            <span>Check Tests</span>
          </mat-list-item >

          <mat-list-item  class="sidebar__list_item">
            <span>Editor</span>
          </mat-list-item >
        </div>
        <mat-list-item  class="sidebar__list_item">
          <span>Exit</span>
        </mat-list-item >
      </nav>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-icon
      mat-icon-button
      class="sidebar__button"
      (click)="handleSidebar()"
      [ngClass]="{'sidebar__button_close': isOpen}">
      chevron_right
    </mat-icon>

<ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
