<div mat-dialog-content>
  <h1>{{ data.essayMark && data.speakingMark ? 'Test Check Results' : 'Test Checking' }}</h1>
  <button mat-icon-button type="button" class="close-button" [mat-dialog-close]="true">✖</button>
  <form [formGroup]="form" (ngSubmit)="submitTest()">
    <div class="content">
      <div class="essay-topic">
        Essay topic: <b>{{ data.essayTopic }}</b>
      </div>
      <mat-form-field appearance="fill" class="text-essay">
        <mat-label>Essay</mat-label>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="4" matInput readonly>{{
          data.essayAnswer
        }}</textarea>
      </mat-form-field>
      <div class="essay-mark">
        <label class="essay-mark-label">
          Essay Score
          <input
            formControlName="essayMark"
            required
            type="number"
            name="essayMark"
            min="0"
            max="10"
            step="1"
            [readOnly]="data.essayMark"
          />
        </label>
        <div
          *ngIf="form.get('essayMark')?.invalid && form.get('essayMark')?.touched"
          class="validation"
        >
          <small *ngIf="form.get('essayMark')?.errors?.pattern">Enter valid score (0-10)</small>
          <small *ngIf="form.get('essayMark')?.errors?.required"
            >Field Essay Score must be filled</small
          >
        </div>
      </div>
      <div class="speaking-topic">
        Audition topic: <b>{{ data.speakingTopic }}</b>
      </div>
      <audio id="player" class="audio" controls #player>
        <source [src]="srcData" id="my-audio" #audio />
      </audio>
      <div class="speaking-mark">
        <label class="speaking-mark-label">
          Speaking Score
          <input
            formControlName="speakingMark"
            required
            type="number"
            name="speakingMark"
            min="0"
            max="10"
            step="1"
            [readOnly]="data.speakingMark"
          />
        </label>
        <div
          *ngIf="form.get('speakingMark')?.invalid && form.get('speakingMark')?.touched"
          class="validation"
        >
          <small *ngIf="form.get('speakingMark')?.errors?.pattern">Enter valid score (0-10)</small>
          <small *ngIf="form.get('speakingMark')?.errors?.required"
            >Field Speaking Score must be filled</small
          >
        </div>
      </div>
      <mat-form-field appearance="outline" class="feedback">
        <mat-label>{{
          data.essayMark && data.speakingMark ? 'Coach Feedback' : 'Your Feedback (Optional)'
        }}</mat-label>
        <textarea
          rows="4"
          name="comment"
          formControlName="comment"
          matInput
          [readonly]="data.comment"
        ></textarea>
      </mat-form-field>
    </div>
    <button
      *ngIf="data.essayMark === null"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      SUBMIT
    </button>
  </form>
</div>
