<div mat-dialog-content>
  <button mat-icon-button type="button" class="close-button" [mat-dialog-close]="true">✖</button>
  <form [formGroup]="form" (ngSubmit)="submitTest()">
    <div class="content">
      <mat-form-field appearance="fill" class="text-essay">
        <textarea matInput readonly>{{ data.essayAnswer }}</textarea>
      </mat-form-field>
      <label class="essay-mark">
        Essay Score
        <input
          formControlName="essayMark"
          required
          type="number"
          name="essayMark"
          min="0"
          max="10"
          step="1"
        />
      </label>
      <div
        *ngIf="form.get('essayMark')?.invalid && form.get('essayMark')?.touched"
        class="validation"
      >
        <small *ngIf="form.get('essayMark')?.errors?.pattern">Enter valid score (0-10)</small>
        <small *ngIf="form.get('essayMark')?.errors?.required"
          >Field Essay Mark must be filled</small
        >
      </div>

      <audio class="audio" controls></audio>
      <label class="speaking-mark">
        Speaking Score
        <input
          formControlName="speakingMark"
          required
          type="number"
          name="speakingMark"
          min="0"
          max="10"
          step="1"
        />
      </label>
      <div
        *ngIf="form.get('speakingMark')?.invalid && form.get('speakingMark')?.touched"
        class="validation"
      >
        <small *ngIf="form.get('essayMark')?.errors?.pattern">Enter valid score (0-10)</small>
        <small *ngIf="form.get('essayMark')?.errors?.required"
          >Field Speaking Score must be filled</small
        >
      </div>

      <mat-form-field appearance="outline" class="feedback">
        <mat-label>Your feedback</mat-label>
        <textarea name="comment" formControlName="comment" matInput></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      SUBMIT
    </button>
  </form>
</div>
