<div class="container">
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">✖</button>
  <h1>Writing/Speaking Topics</h1>
  <mat-form-field appearance="outline" *ngIf="mistakeReport.description">
    <mat-label>Mistake description</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" readonly class="description">{{
      mistakeReport.description
    }}</textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Writing/Speaking Topic</mat-label>
    <textarea matInput [(ngModel)]="topicName">{{
      data.isEdit ? 'Topic ' + data.topicName : ''
    }}</textarea>
  </mat-form-field>
  <h3>Select level</h3>
  <app-choose-level
    (changeLevel)="levelChangeHandler($event)"
    [currentLevel]="languageLevel[data.level.toString()]"
  ></app-choose-level>
  <p *ngIf="!mistakeReport.description">
    <button mat-raised-button color="primary" (click)="updateData()">
      {{ data.isEdit ? 'UPDATE' : 'SAVE' }}
    </button>
  </p>
  <div class="button-container" *ngIf="mistakeReport.description">
    <button mat-raised-button color="primary" (click)="SolveAndUpdate()">
      Solve Mistake And Update
    </button>
    <button mat-raised-button color="basic" (click)="RejectMistake()">Reject Mistake</button>
  </div>
</div>
