<div class="container">
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">✖</button>
  <h1>Writing/Speaking Topics</h1>
  <mat-form-field appearance="fill">
    <mat-label>Writing/Speaking Topic</mat-label>
    <textarea matInput [(ngModel)]="topicName">{{
      data.isEdit ? 'Topic ' + data.topicName : ''
    }}</textarea>
  </mat-form-field>
  <h3>Select level</h3>
  <app-choose-level
    (changeLevel)="levelChangeHandler($event)"
    [currentLevel]="languageLevel[data.level.toString()]"
  ></app-choose-level>
  <p>
    <button mat-raised-button color="primary" (click)="updateData()">
      {{ data.isEdit ? 'UPDATE' : 'SAVE' }}
    </button>
  </p>
</div>
