@use "~@angular/material" as mat;

$my-primary: mat.define-palette(mat.$light-blue-palette, 900);
$my-accent: mat.define-palette(mat.$light-blue-palette, 900);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);
