.radio {
    display: block;
    margin: 1rem;
}
table {
    width: 100%;

    th.mat-sort-header-sorted {
        color: black;
      }
  }

  .table-caption {
    text-align: center;
    margin: 1rem;
    font-weight: 600;
    text-decoration: underline;
  }