<div class="profile-container">
    <h3 class="table-caption">Choose your English level:</h3>
    <mat-radio-group name="levels" class="radio">
        <mat-radio-button class="radio-btn" value="beginner" checked="true">Beginner</mat-radio-button>
        <mat-radio-button class="radio-btn" value="intermediate">Intermediate</mat-radio-button>
        <mat-radio-button class="radio-btn" value="advanced">Advanced</mat-radio-button>
      </mat-radio-group>

      <button mat-raised-button color="primary" class="start-btn" (click)="onStartButtonClick()">START TEST</button>

      <h3 class="table-caption" >Your recent results</h3>

      <app-user-results-table></app-user-results-table>


</div>
