.user-results-table {
  max-width: 60%;
}

.radio {
  display: flex;
  justify-content: center;

  .radio-btn {
    margin: 2rem;
  }
}

.start-btn {
  width: 15rem;
  display: block;
  height: 5rem;
  margin: 2rem auto;
}

.note-icon {
  color: green;
}

.table-caption {
  margin: 1rem;
  text-align: center;
  font-weight: 500;
}

.for-delete {
  text-align: center;
}
