<div mat-dialog-content>
  <div class="container">
    <h1>Report Mistake</h1>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">✖</button>
    <h2>Found a mistake? Let us know!</h2>
    <p class="mistake__description">
      Please describe the mistake as detailed as possible along with your expected correction, leave
      your email so that we can contact you when needed. Thank you!
    </p>
    <mat-form-field appearance="outline" class="text-essay">
      <mat-label>Please describe exactly what is wrong</mat-label>
      <textarea
        cdkTextareaAutosize
        cdkAutosizeMinRows="4"
        matInput
        [(ngModel)]="description"
      ></textarea>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="submitMistake()">Submit</button>
</div>
