@import '../../../theme/variables';

.container {
  margin: 3rem 2rem;
  text-align: center;
}

.speaking-module-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-position {
  height: 3rem;
}

.description {
  margin-bottom: 1rem;
  text-align: center;
}

.text-of-theme {
  display: block;
  text-transform: uppercase;
}

.countdown {
  margin-top: 2rem;
  color: $secondary-grey2;
  font-size: 1.5rem;
}

.paragraph-position {
  justify-content: left;
  text-align: center;
}

.number-of-attempt {
  display: inline-block;
  font-size: 0.7rem;
}

.text-for-attempt {
  margin: 0.5rem;
  color: grey;
}

.audio-reserv-place {
  height: 19rem;
  margin: 0 auto;
}

.audio-position {
  max-width: 350px;
  margin: 0 auto;
}

.audio {
  width: 100%;
}

.text-of-theme-warning {
  margin-top: 10rem;
  color: grey;
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
}

.report {
  text-align: end;
}

.report__text {
  display: inline-block;
  margin-left: 0.5rem;
}

.report__text:hover {
  color: $secondary-grey3;
  text-decoration: underline;
  cursor: pointer;
}

.mat-icon {
  font-size: 1rem;
  vertical-align: text-top;
}
