<div class="login_page">
  <mat-card class="login_card">
    <form [formGroup]="loginReactiveForm" (submit)="onSubmit()">
      <mat-form-field class="form-field">
        <mat-label for="userLogin">Login:</mat-label>
        <input matInput type="text" id="userLogin" formControlName="userLogin" maxlength="30">
      </mat-form-field>
      <div class="error" *ngIf="isControlInvalid('userLogin')" style="color: red">
        Input valid user login, included "@", "A-z", "-", ".", "_"
      </div>

      <mat-form-field class="form-field">
        <mat-label for="userPassword">Password:</mat-label>
        <input matInput type="text" id="userPassword" formControlName="userPassword" maxlength="30">
      </mat-form-field>
      <div class="error" *ngIf="isControlInvalid('userPassword')" style="color: red">
        Input valid password, included "@", "A-z", "-", ".", "_"
      </div>
      <button mat-raised-button color="primary" type="submit">Sign In</button>
    </form>
  </mat-card>
</div>
