<div class="mat-elevation-z8">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Adding</mat-card-title>
    </mat-card-header>
    <div class="adding">
      <button mat-raised-button color="primary" (click)="openGrammarModal()">Add Grammar</button>
      <button mat-raised-button color="primary" (click)="onAddAudioClick()">
        Add Audio & Questions
      </button>
      <button mat-raised-button color="primary" (click)="openTopicModal()">Add Topic</button>
    </div>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Editing</mat-card-title>
    </mat-card-header>
    <div>
      <mat-tab-group
        mat-align-tabs="start"
        (selectedTabChange)="tabChanged($event)"
        backgroundColor="primary"
      >
        <ng-container *ngIf="{ table: tables$ | async } as $">
          <mat-tab *ngFor="let tab of tabsTitle" [label]="tab">
            <app-coach-profile-editor-table
              *ngIf="$.table"
              [table]="$.table"
              [selectTab]="selectedTab"
            ></app-coach-profile-editor-table>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </div>
  </mat-card>
</div>
