.content {
  position: relative;
  height: auto;
  white-space: nowrap;
}

.user-info-wrap {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
  overflow: hidden;
}

.user-pic {
  width: 6rem;
  height: 6rem;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.user-info {
  padding: 0.5rem;

  & b {
    display: inline-block;
    white-space: normal;
  }
}

.submit-btn {
  display: inline-block;
}

.table-caption {
  margin: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

table {
  position: relative;
  width: 100%;

  & td {
    max-width: 4.5rem;
    white-space: nowrap;

    &:last-child {
      text-align: end;
    }
  }
}

.scale {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #3366cc 0%, #333399 100%);
  border-radius: 0.25rem;

  & span {
    padding: 0.5rem 0.75rem;
    color: white;
  }
}

.desc {
  position: absolute;
  top: 2rem;
  font-size: 0.7rem;

  & span {
    margin: 0.25rem;
  }
}

.mat-dialog-content {
  overflow: hidden;
}
