.content {
  position: relative;
  height: auto;
  white-space: nowrap;
}

.user-info-wrap {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
  overflow: hidden;
}

.user-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  border: 3px solid lightblue;
  border-radius: 50%;

  img {
    width: 98px;
    height: 98px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.user-initials {
  color: var(--blue);
  font-weight: 600;
  font-size: 2rem;
}

.user-info {
  padding: 0.5rem;

  & b {
    display: inline-block;
    white-space: normal;
  }
}

.submit-btn {
  display: inline-block;
}

.table-caption {
  margin: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

table {
  position: relative;
  width: 100%;

  & td {
    max-width: 4.5rem;
    white-space: nowrap;

    &:last-child {
      text-align: end;
    }
  }
}

.scale {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #3366cc 0%, #333399 100%);
  border-radius: 0.25rem;

  & span {
    padding: 0.5rem 0.75rem;
    color: var(--white);
  }
}

.desc {
  position: absolute;
  top: 2rem;
  font-size: 0.7rem;

  & span {
    margin: 0.25rem;
  }
}

.mat-dialog-content {
  min-width: fit-content;
  min-height: fit-content;
  padding: 0;
  overflow: auto;
}
