@import 'src/theme/variables';

.mat-form-field {
  margin-top: 16px;
}

.stepper {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 5px rgba(117, 56, 141, 0.2);
}

.button__color {
  margin-right: 5px;
}

.form__color {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__center {
  font-size: 18px;
}
