@import "src/theme/variables";

button {
  float: right;
}

button:hover {
  background-color: gray;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  margin: 0 100px;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  background-color: $secondary-grey1;
  color: white;
}

