@import 'src/theme/variables';

.material-icons.md-30 {
  font-size: 30px;
}

.sidebar-text {
  margin-left: 22px;
}

.sidebar-container {
  height: 120px;
  margin-bottom: 15%;
}

.icon-position,
.exit-position {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 1px;
}

.sidebar__list_item:hover,
.sidebar__list_item:focus,
.is-active {
  background-color: whitesmoke;

  .material-icons.md-dark.md-inactive {
    color: rgb(170, 213, 228);
  }
}

.sidebar__list_item:hover .sidebar-text {
  color: rgb(65, 64, 64);
  font-weight: 500;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.sidebar__container_width {
  width: 7%;
  padding-top: 8px;
  overflow-y: hidden;
  background-color: $white;
  visibility: visible;
}

.sidebar {
  height: 100%;
  margin: auto;
  color: $black;
  background-color: $others-grey6;

  .exit__position {
    margin-top: 90%;
  }

  &__container {
    width: 15%;
    padding-top: 8px;
    overflow-y: hidden;
    background-color: $white;
    visibility: visible;
  }

  &__username {
    text-align: center;
  }

  &__logo {
    width: 98px;
    height: 98px;
    margin: 0 auto;
    background-image: url('https://scontent.fiev6-1.fna.fbcdn.net/v/t1.6435-9/89845151_2502495549967541_8418276994130640896_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=6tnOcGrridIAX8LQjDw&_nc_ht=scontent.fiev6-1.fna&oh=b7143c9dda9fd3ef81c86e41f788a9ab&oe=612EA9AA');
    background-size: cover;
    border: 3px solid lightblue;
    border-radius: 50%;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 67vh;
    margin-top: 5em;
  }

  &__button {
    position: absolute;
    bottom: 50%;
    z-index: 10;
    transform: rotate(0deg);
    cursor: pointer;
    transition: 300ms ease-in-out;

    &_close {
      transform: rotate(180deg);
    }
  }
}
