<mat-sidenav-container class="sidebar" autosize *ngIf="{ isSingIn: isSingIn$ | async } as $">
  <mat-sidenav
    *ngIf="$.isSingIn"
    class="sidebar__container"
    [style]="getWidth()"
    mode="side"
    ng-show="toggleSideBar"
    [opened]="isOpen"
    [formControl]="mode"
  >
    <mat-nav-list>
      <ng-container *ngIf="{ user: user$ | async } as $">
        <div style="height: 120px">
          <div *ngIf="isShown" mat-card-avatar class="sidebar__logo" height="104px"></div>
          <p *ngIf="isShown" class="sidebar__username">{{ $.user!.firstName }}</p>
        </div>
        <app-notification class="notifications"> </app-notification>
        <nav class="sidebar__nav">
          <div class="sidebar__list">
            <div *ngFor="let route of usersRoute[$.user!.roles[0]].route; let i = index">
              <mat-list-item
                [routerLinkActive]="['is-active']"
                [routerLink]="'/' + route"
                class="sidebar__list_item"
              >
                <div [routerLinkActive]="['is-active']" class="icon-position">
                  <mat-icon class="material-icons-round md-30 md-dark md-inactive">
                    {{ usersRoute[$.user!.roles[0]].menuIcon[i] }}
                  </mat-icon>
                </div>
                <span *ngIf="isShown" class="sidebar-text"
                  >{{ usersRoute[$.user!.roles[0]].menuItem[i] }}
                </span>
              </mat-list-item>
            </div>
          </div>
          <mat-list-item (click)="authService.signOut()" class="sidebar__list_item exit-position">
            <div class="exit-position">
              <mat-icon class="material-icons-round md-30 md-dark md-inactive"> logout </mat-icon>
            </div>
            <span class="sidebar-text">Exit</span>
          </mat-list-item>
        </nav>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-icon
      ng-click="toggleSideBar=!toggleSideBar"
      *ngIf="$.isSingIn"
      mat-icon-button
      class="sidebar__button"
      (click)="handleSidebar()"
      (click)="toggleShow()"
      [ngClass]="{ sidebar__button_close: isSmaller }"
    >
      chevron_right
    </mat-icon>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
