<mat-sidenav-container class="sidebar" autosize *ngIf="{ isSingIn: isSingIn$ | async } as $">
  <mat-sidenav *ngIf="$.isSingIn" class="sidebar__container" mode="side" [opened]="isOpen">
    <mat-nav-list>
      <ng-container *ngIf="{ user: user$ | async } as $">
        <div mat-card-avatar class="sidebar__logo"></div>
        <p class="sidebar__username">{{ $.user!.firstName }}</p>
        <app-notification class="notifications"> </app-notification>
        <nav class="sidebar__nav">
          <div class="sidebar__list">
            <div *ngFor="let route of usersRoute[$.user!.roles[0]].route; let i = index">
              <mat-list-item [routerLink]="'/' + route" class="sidebar__list_item">
                <svg class="icon-sidebar">
                  <use [attr.href]="usersRoute[$.user!.roles[0]].menuIcon[i]"></use>
                </svg>
                <span class="sidebar-text">{{ usersRoute[$.user!.roles[0]].menuItem[i] }} </span>
              </mat-list-item>
            </div>
          </div>
          <mat-list-item (click)="authService.signOut()" class="sidebar__list_item exit-position">
            <div class="exit-position">
              <svg class="icon-sidebar">
                <use href="../../assets/icons.svg#icon-exit"></use>
              </svg>
              <span class="sidebar-text">Exit</span>
            </div>
          </mat-list-item>
        </nav>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-icon
      *ngIf="$.isSingIn"
      mat-icon-button
      class="sidebar__button"
      (click)="handleSidebar()"
      [ngClass]="{ sidebar__button_close: isOpen }"
    >
      chevron_right
    </mat-icon>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
