<mat-sidenav-container class="sidebar" autosize *ngIf="{ isSingIn: isSingIn$ | async } as $">
  <mat-sidenav *ngIf="$.isSingIn" class="sidebar__container" mode="side" [opened]="isOpen">
    <mat-nav-list>
      <ng-container *ngIf="{ user: user$ | async } as $">
        <p class="sidebar__username">{{ $.user!.firstName }}</p>
        <div mat-card-avatar class="sidebar__logo"></div>
        <app-notification class="notifications"> </app-notification>
        <nav class="sidebar__nav">
          <div class="sidebar__list">
            <div *ngFor="let route of usersRoute[$.user!.roles[0]].route; let i = index">
              <mat-list-item [routerLink]="'/' + route" class="sidebar__list_item">
                <span>{{ usersRoute[$.user!.roles[0]].menuItem[i] }}</span>
              </mat-list-item>
            </div>
          </div>
          <mat-list-item (click)="authService.signOut()" class="sidebar__list_item">
            <span>Exit</span>
          </mat-list-item>
          <button mat-stroked-button (click)="openSnackBar()" color="warn">Show ERROR</button>
        </nav>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-icon
      *ngIf="$.isSingIn"
      mat-icon-button
      class="sidebar__button"
      (click)="handleSidebar()"
      [ngClass]="{ sidebar__button_close: isOpen }"
    >
      chevron_right
    </mat-icon>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
