.container {
  margin: 3rem 2rem;
  text-align: center;

  span {
    font-style: italic;
  }
}

form {
  padding: 1rem;
}

p {
  margin-bottom: 1rem;
  text-align: center;
}

.main-content {
  width: 90%;
}

.text-of-theme {
  display: block;
  text-transform: uppercase;
}

.mat-form-field {
  width: 70%;
  border-radius: var(--border-radius-medium);

  textarea {
    height: 14em;
    resize: none;
  }

  .symbol-count {
    float: right;
    font-size: 0.75rem;
  }
}

.error {
  color: var(--error);
}

.mat-icon {
  font-size: 1rem;
  vertical-align: text-top;
}

.report {
  color: var(--secondary-grey);
  font-size: 0.75rem;
  text-align: end;
}

.report__text {
  display: inline-block;
  margin-left: 0.5rem;
}

.report__text:hover {
  color: var(--secondary-grey2);
  text-decoration: underline;
  cursor: pointer;
}
