@import 'src/theme/variables.scss';

.container {
  margin: 12em 0 2em;
  padding-left: 30px;

  span {
    font-style: italic;
  }
}

mat-form-field {
  width: 70%;
  background-color: rgb(241, 233, 248);
  border-radius: $border-radius-medium;

  textarea {
    height: 14em;
    resize: none;
  }
}

.error {
  color: $error;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;

  .send {
    margin-right: 20px;
  }
}
