@import 'src/theme/variables.scss';

.container {
  text-align: center;

  span {
    font-size: 80%;
    font-style: italic;
  }
}

.description {
  margin-bottom: 50px;
  text-align: center;
}

.text-of-theme {
  display: block;
  text-transform: uppercase;
}

mat-form-field {
  width: 70%;
  border-radius: $border-radius-medium;

  textarea {
    height: 100px;
    resize: none;
  }
}

.error {
  color: $error;
}
