<mat-card class="description">
  Please, write something about <b>{{ essay!.topicName }}</b>
</mat-card>

<mat-card class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="mat-form-field" appearance="fill">
      <textarea
        matNativeControl
        maxlength="512"
        formControlName="text"
        #text
        (paste)="$event.preventDefault()"
        (ngModelChange)="onWritingSubmit()"
      ></textarea>

      <span class="symbol-count">{{ text.value.length }}/ 512 </span>

      <div *ngIf="form.get('text')?.invalid && form.get('text')?.touched" class="validation">
        <small class="error" *ngIf="form.get('text')?.errors?.required"
          >You cannot submit an empty form</small
        >
        <small class="error" *ngIf="form.get('text')?.errors?.minlength">
          Essay length should be at least
          {{ form.get('text')?.errors?.minlength.requiredLength }} symbols
        </small>
      </div>
    </mat-form-field>
  </form>
  <div class="report">
    <mat-icon>warning_amber</mat-icon>
    <span class="report__text" (click)="openReportDialog(essay?.id)">Report Mistake</span>
  </div>
</mat-card>
