.finish-test {
  margin: 5em auto;

  &__paragraph {
    padding: 2em;
    font-size: 1.5em;
    line-height: 1.7;
    text-align: center;
  }

  &__button {
    width: 10em;
    height: 10em;
    margin-top: 5em;
    margin-bottom: 3em;
    font-size: 1.3em;
    border: 2px solid pink;
    border-radius: 50%;
  }

  &__warn-color {
    margin-right: 2em;
    color: rgb(212, 69, 41);
  }
}

button {
  display: block;
  width: auto;
  height: 3rem;
  margin: 0 auto;
}
