.user-results-container {
}

.user-info-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-pic {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

.user-info {
}

h3 {
  text-align: center;
  font-weight: bold;
}

button {
  display: block;
  margin: 1rem 0;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0 1rem;
}
