.user-results-container {
}
.user-pic {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

h3 {
  text-align: center;
  font-weight: bold;
}

button {
  display: inline-block;
  margin: 1rem auto;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0 1rem;
  line-height: normal;
}
