.user-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.user-pic {
  width: 5rem;
  height: 5rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

.user-name {
  font-weight: bold;
  font-size: 1rem;
}

.user-email {
  line-height: 0.5rem;
  font-size: 0.75rem;
}

.submit-btn {
  line-height: 3rem;
  width: 10rem;
}

.header {
  text-align: center;
  margin: 1rem;
  font-weight: 600;
  text-decoration: underline;
}

table {
  width: 100%;
}

td {
  white-space: nowrap;
}

td:last-child {
  max-width: 4rem;
  text-align: end;
}

.scale {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #3366cc 0%, #333399 100%);
  border-radius: 0.25rem;
}

.result {
  padding: 0.5rem;
  color: white;
}