@import 'theme/variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.red-snackbar {
  background: $error;
}

.mat-snack-bar-container.success {
  color: $black;
  background-color: $secondary-grey3;
}

.mat-simple-snackbar-action {
  color: $primary-blue;
}
