@import 'theme/variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.red-snackbar {
}

.mat-snack-bar-container.success {
  color: var(--black);
  background-color: var(--secondary-grey3);
  border: 1px solid var(--primary-blue);
}

.mat-snack-bar-container.error {
  color: var(--black);
  background-color: var(--secondary-grey3);
  border: 1px solid var(--error);
}

.mat-simple-snackbar-action {
  color: var(--primary-blue);
}

.mat-step-optional,
.mat-step-sub-label-error {
  font-size: 0.6rem !important;
}
