section {
  height: 100%;
  text-align: center;
}

.page_404 {
  padding: 2rem 0;
  background: #fff;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  height: 50vh;
  background-image: url(../../../assets/dribbble_1.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.link_404 {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  color: #fff;
  background: #39ac31;
  border-radius: 0.25rem;
}

.text_404 {
  font-size: 6rem;
}
