<div class="main">
  <h1>Add Listening Tasks</h1>
  <div>
    <input type="file" />
  </div>
  <span>
    <h2>Select level</h2>
    <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select disableRipple>
        <mat-option value="1">Elementary</mat-option>
        <mat-option value="2">PreIntermediate</mat-option>
        <mat-option value="3">intermediate</mat-option>
        <mat-option value="4">UpperIntermediate</mat-option>
        <mat-option value="5">Advanced</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel> 1</ng-template>
      <ng-template matStepContent>
        <mat-form-field appearance="fill">
          <mat-label>Formulation of the question</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let season of seasons"
            [value]="season"
          >
            {{ season }}
            <mat-form-field appearance="fill">
              <mat-label>Answer option</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
        <div>Correct Answer: {{ favoriteSeason }}</div>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> 2</ng-template>
      <ng-template matStepContent>
        <mat-form-field appearance="fill">
          <mat-label>Formulation of the question</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let season of seasons"
            [value]="season"
          >
            {{ season }}
            <mat-form-field appearance="fill">
              <mat-label>Answer option</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
        <div>Correct Answer: {{ favoriteSeason }}</div>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> 3</ng-template>
      <ng-template matStepContent>
        <mat-form-field appearance="fill">
          <mat-label>Formulation of the question</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let season of seasons"
            [value]="season"
          >
            {{ season }}
            <mat-form-field appearance="fill">
              <mat-label>Answer option</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
        <div>Correct Answer: {{ favoriteSeason }}</div>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> 4</ng-template>
      <ng-template matStepContent>
        <mat-form-field appearance="fill">
          <mat-label>Formulation of the question</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let season of seasons"
            [value]="season"
          >
            {{ season }}
            <mat-form-field appearance="fill">
              <mat-label>Answer option</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
        <div>Correct Answer: {{ favoriteSeason }}</div>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> 5</ng-template>
      <ng-template matStepContent>
        <mat-form-field appearance="fill">
          <mat-label>Formulation of the question</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let season of seasons"
            [value]="season"
          >
            {{ season }}
            <mat-form-field appearance="fill">
              <mat-label>Answer option</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
        <div>Correct Answer: {{ favoriteSeason }}</div>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> 6</ng-template>
      <ng-template matStepContent>
        <mat-form-field appearance="fill">
          <mat-label>Formulation of the question</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let season of seasons"
            [value]="season"
          >
            {{ season }}
            <mat-form-field appearance="fill">
              <mat-label>Answer option</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
        <div>Correct Answer: {{ favoriteSeason }}</div>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> 7</ng-template>
      <ng-template matStepContent>
        <mat-form-field appearance="fill">
          <mat-label>Formulation of the question</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let season of seasons"
            [value]="season"
          >
            {{ season }}
            <mat-form-field appearance="fill">
              <mat-label>Answer option</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
        <div>Correct Answer: {{ favoriteSeason }}</div>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>8</ng-template>
      <ng-template matStepContent>
        <mat-form-field appearance="fill">
          <mat-label>Formulation of the question</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let season of seasons"
            [value]="season"
          >
            {{ season }}
            <mat-form-field appearance="fill">
              <mat-label>Answer option</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
        <div>Correct Answer: {{ favoriteSeason }}</div>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> 9</ng-template>
      <ng-template matStepContent>
        <mat-form-field appearance="fill">
          <mat-label>Formulation of the question</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let season of seasons"
            [value]="season"
          >
            {{ season }}
            <mat-form-field appearance="fill">
              <mat-label>Answer option</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
        <div>Correct Answer: {{ favoriteSeason }}</div>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel> 10</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Formulation of the question</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="favoriteSeason"
      >
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let season of seasons"
          [value]="season"
        >
          {{ season }}
          <mat-form-field appearance="fill">
            <mat-label>Answer option</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </mat-radio-button>
      </mat-radio-group>
      <div>Correct Answer: {{ favoriteSeason }}</div>
    </mat-step>
  </mat-stepper>

  <div class="dialog-button">
    <button mat-raised-button mat-dialog-close cdkFocusInitial>Close</button>
    <button mat-raised-button color="primary">Save</button>
  </div>
</div>
