<div class="container">
  <div class="main">
    <h4>mat select</h4>
    <mat-form-field appearance="fill">
      <mat-label>Favorite animal</mat-label>
      <mat-select [formControl]="coachControl" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let coach of coachList" [value]="coach.name">
          {{ coach.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="coachControl.hasError('required')">Please choose an animal</mat-error>
      <mat-hint>{{ coachControl.value?.sound }}</mat-hint>
    </mat-form-field>
  </div>
  <div class="btn">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="primary">Cancel</button>
  </div>
</div>
