<div class="container">
  <h4>Select Coach</h4>
  <div class="modal-dialog-screen">
    <div class="img-selector">
      <div class="img"></div>
      <mat-form-field appearance="fill">
        <mat-label> Assign coach</mat-label>
        <mat-select [formControl]="coachControl" [(value)]="data.coach" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let CoachName of dataSource" [value]="CoachName.coach">
            {{ CoachName.coach.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="coach_info">
      <p>
        Name:
        {{
          dataSource[data.position].isAssign
            ? data.coach.name == null
              ? dataSource[data.position].coach.name
              : data.coach.name
            : data.coach.name == null
            ? '--'
            : data.coach.name
        }}
      </p>
      <p>
        Phone number:
        {{
          dataSource[data.position].isAssign
            ? data.coach.name == null
              ? dataSource[data.position].coach.phoneNumber
              : data.coach.phoneNumber
            : data.coach.name == null
            ? '--'
            : data.coach.phoneNumber
        }}
      </p>
      <p>
        Email:
        {{
          dataSource[data.position].isAssign
            ? data.coach.name == null
              ? dataSource[data.position].coach.email
              : data.coach.email
            : data.coach.name == null
            ? '--'
            : data.coach.email
        }}
      </p>
    </div>
  </div>
  <div class="btn">
    <button mat-raised-button color="primary" [mat-dialog-close]="data">Save</button>
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  </div>
</div>
