%install_settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login_page {
  @extend %install_settings;

  .login_card {
    flex-direction: column;
    max-width: 50vh;
    max-height: 50vh;
    background-color: whitesmoke;

    @extend %install_settings;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 30vh;
    }

    button {
      margin: 3vh 0;
    }
  }
}
